{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
    <h1>User</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ user.id|default('In Memory') }}</td>
        </tr>
        <tr>
            <th>Email</th>
            <td>{{ user.email|default(user.getUserIdentifier()) }}</td>
        </tr>
        <tr>
            <th>Roles</th>
            <td>{{ user.roles ? user.roles|join(', ') : '' }}</td>
        </tr>
        <tr>
            <th>Birthday</th>
            <td>{{ user.birthday ? user.birthday|date('Y-m-d') : '' }}</td>
        </tr>
        </tbody>
    </table>

    <a href="{{ path('app_user_index') }}">back to list</a>

    <a href="{{ path('app_user_edit') }}">edit</a>
{% endblock %}
